<h1> Your Profile</h1>

<h2> First name:</h2>
<%= @user.first_name %>
<h2> Last name:</h2>
<%= @user.last_name %>
<h2>Birthday:</h2>
<%= @user.birthdate %>
<h2> Phone number: </h2>
<%= @user.phone_number %>
<h2> Email address:</h2>
<%= @user.email %>


