
<div class="profilepage">

<h1 id="user-profile-header"> Your Profile</h1>

<h2 id="user-profile-header"> First name:</h2>
<%= @user.first_name %>
<h2 id="user-profile-header"> Last name:</h2>
<%= @user.last_name %>
<h2 id="user-profile-header">Birthday:</h2>
<%= @user.birthdate %>
<h2 id="user-profile-header"> Phone number: </h2>
<%= @user.phone_number %>
<h2 id="user-profile-header"> Email address:</h2>
<%= @user.email %>

<%= button_to "Delete Account", {:controller => :users,
    :action => 'destroy', :id => current_user.id }, :method => :delete %>

</div>