

 
<h1> Your Profile</h1>

<h2> First name:
<%= @user.first_name %><br>
Last name:
<%= @user.last_name %><br>
Birthday:
<%= @user.birthdate %><br>
Phone number:
<%= @user.phone_number %><br>
Email address:
<%= @user.email %><br>

<%= button_to "Delete Account", {:controller => :users,
    :action => 'destroy', :id => current_user.id }, :method => :delete %>
</h2>
