<div class= stats>
<h1>Analytics</h1>

<div class="container">
    <div class="row">

    <div class="col-sm">
    <h2>User<br>
        <br>
    Star Welper:
    <p> <%= User.most_reviews.full_name %>
    </p></h2>

    <h2>
    Most recent post:
    <p> <%= link_to Review.most_recent_review.content, review_path(Review.most_recent_review) %>
    </p></h2>
    </div> 

    <div class="col-sm">
    <h2>Review</h2>
    
    <p>

    </p>
    </div>  

    <div class="col-sm">
    <h2>Restaurant<br>
        <br>
    Most Popular Restaurant:
    <p> <%= link_to Restaurant.most_stars.name, restaurant_path(Restaurant.most_stars) %>
    </p></h2>
    <br>
    <h2>Most Expensive Restaurant:<br>
    <p> <% Restaurant.most_expensive.each do |restaurant| %>
        <%= restaurant.name %>
        <% end %></h2>
    </p>
    <br>
    <h2>
    Cheapest Restaurant:<br>
    <p> <% Restaurant.cheapest_restaurants.each do |restaurant| %>
        <%= restaurant.name %><br>
        <% end %>
    </p></h2>
    </div> 

    </div>
</div>
</div>