
<div class="header">
    <h1>All Restaurants in DC</h1>
</div>

<h3>Search by Cuisine:</h3>
    <%= form_tag(restaurants_path, method: :get) do %>
        <%= text_field_tag(:search, params[:search]) %>
        <%= submit_tag ("Search") %>
<% end %>


<div class= "gallery">
    <% @restaurants.each do |restaurant| %>
        <div class="imgContainer">
        <img src= <%= restaurant.img_url %>>
        <h4><center><%= link_to restaurant.name, restaurant_path(restaurant) %></center></h4>
        </div>
    <% end %>
</div>

