
<div class="header">
    <h1>All Restaurants in DC</h1>
</div>

<h3>Search by Cuisine:</h3>
    <%= form_tag(restaurants_path, method: :get) do %>
        <%= text_field_tag(:search, params[:search]) %>
        <%= submit_tag ("Search") %>
<% end %>

    <% @restaurants.each do |restaurant| %>
        <%= link_to restaurant.name, restaurant_path(restaurant) %><br>
        <img src="" alt="">

    <% end %>

    <%= image_tag "roti.png", class: "gallery-img" %>
