<h1><%= @restaurant.name %></h1>

<h2>
Address: <%= @restaurant.address %><br>
Price: <%= @restaurant.price %><br>
Cuisine: <%= @restaurant.category %><br>
Phone number: <%= @restaurant.phone_number %><br>
Website: <%= @restaurant.website_url %><br>
Hours: <%= @restaurant.hours_of_operation %><br>
</h2>